<div class="connections-container">

  <div class="categories">
    @for (category of categories; track category.id) {
      @if (category.revealed) {
        <div class="category" [ngClass]="'cat' + (category.id)">
          {{category.label}}
          <br>
          {{category.words.join(' ')}}
        </div>
      }
    }
  </div>

  <div class="word-grid">
    @for (word of words; track $index) {
      <button class="word" [ngClass]="{'selected': word.selected}" (click)="select(word)">
        {{word.label}}
      </button>
    }
  </div>

  <div class="button-container">
    <button (click)="shuffle()">Shuffle</button>
    <button (click)="deselectAll()">Deselect all</button>
    <button (click)="submit()">Submit</button>
  </div>

</div>
