@import "../../../../assets/variables.scss";

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $connections-gray;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  font-weight: bold;
}

.word-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.word {
  background-color: $connections-gray;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.word:hover {
  cursor: pointer;
}
